<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <title>Basemap</title>

  <%= stylesheet_link_tag 'site', 'map' %>
  <%= csrf_meta_tag %>

  <!-- JAVASCRIPT GOES HERE -->
  <%= javascript_include_tag(
              "http://maps.google.com/maps/api/js?sensor=true#{"&libraries=geometry" if Polygon::MAX_AREA_KM2}",
              'http://www.google.com/jsapi',
              'http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js',
              'http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.js',
              'jquery.json-2.2.js',
              'application',
              'map'
      ) %>
  <script type="text/javascript">
      MAX_POLYGON_AREA_KM2 = <%= Polygon::MAX_AREA_KM2 %>;
  </script>
</head>
<body>
<a id="zoomIn"></a>
<a id="zoomOut"></a>

<div id="map_tools">
  <h3>Tools</h3>

  <div class="buttons">
    <a id="done" class="disabled" onclick="submitPolygon(); return false;" href="#"></a>
  </div>
  <div class="shader"></div>
</div>

<%= yield %>

<div style="position:absolute; top:0; left:0; width:100%; height:100%">
  <div id="map_canvas" style="z-index:1; position:absolute; top:0; left:0; right:0; bottom:0; height:100%"></div>
</div>

<div id="container" style="position:absolute; bottom:0; left:0; width: 100%; height:30%; display:none;"></div>

</body>
</html>
